*,
*::before,
*::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
      background: #323232;
}

.container{
      width: 700px;
      margin: 0 auto;
}

h2{
      text-align: center;
      color: #fff;
      margin: 50px auto;
}

h3{
      text-align: center;
      color: #fff;
      margin: 20px auto;
}

/*EFEITO GLASS*/

.glass img{
      max-width: 100%; 
      height:auto;
      border-radius: 15px;
}

.glass .title{
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
}

.glass .title h3{
      font-size: 40px;
}

.glass{
      position: relative;
}

.glass::before{
      position: absolute;
      content: '';
      margin: 60px;
      border-radius: 15px;
      inset: 0;
      background-color: #ffffff10;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(12px);
}

/*EFEITO GLASS*/

ul li {
      color: #fff;
      margin: 10px 0
}